* {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(39, 16, 185);
}

body {
    background-color: rgb(218, 86, 86);
}

img.lado {
    float:right
}
main {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}